@import 'variables.scss';
@import 'tooltip.scss';

.StatusTimeLine {
    @mixin notify-color($color, $type, $content) {
        .timeline__status {
            border-top: 5px $type $color;
            &__circle {
                color: $white;
                background-color: $color;
                border: none;
                transition: all 200ms ease-in;
            }
            &__icon::before {
                content: $content;
                color: $white;
            }
        }
        .timeline__step {
            color: black;
        }
    }

    .timeline__ul {
        list-style-type: none;
        display: flex;
        align-items: center;
        padding: 10px;
    }
    .timeline__li {
        float: left;
        transition: all 200ms ease-in;
    }
    .timeline__li {
        &:first-child {
            .timeline__status {
                &::after {
                    content: 'aaa';
                    position: absolute;
                    color: rgb(255, 255, 255);
                    background-color: rgb(255, 255, 255);
                    width: 3.7rem;
                    height: 1.5rem;
                    border-top: 10px solid white;
                    left: 0;
                    top: -1.6rem;
                    z-index: 54;
                }
            }
        }
        &:last-child {
            .timeline__status {
                &::after {
                    content: 'aaa';
                    position: absolute;
                    color: rgb(255, 255, 255);
                    background-color: rgb(255, 255, 255);
                    width: 3.5rem;
                    height: 2rem;
                    border-top: 10px solid white;
                    right: 0;
                    top: -1.6rem;
                    z-index: 54;
                }
            }
        }
    }

    .timeline__timestamp {
        margin-bottom: 1.4rem;
        padding: 0.2rem 1rem;
        text-align: center;
        font-weight: 100;
    }
    .timeline__content {
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .timeline__tag {
        background: #2196f3;
        color: #ffffff;
        border-radius: 3px;
        font-size: 0.8rem;
        padding: 0.1rem 0.3rem;
        display: -webkit-inline-flex;
        display: inline-flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
    }

    .text-uppercase {
        text-transform: uppercase;
    }
    .timeline__status {
        text-align: center;
        vertical-align: middle;
        padding: 1rem 2.5rem;
        text-align: center;
        font-weight: bolder;
        border-top: 5px solid #d6dce0;
        position: relative;
        transition: all 200ms ease-in;
        &__circle {
            color: #fff;
            width: 1.6rem;
            height: 1.6rem;
            background-color: white;
            border-radius: 1.6rem;
            border: 1px solid #ddd;
            position: absolute;
            top: -15px;
            left: 42%;
            transition: all 200ms ease-in;
            z-index: 56;
        }
        &__icon::before {
            content: '';
            color: #fff;
            width: 1.6rem;
            height: 1.6rem;
            position: absolute;
            top: -13px;
            left: 42%;
            z-index: 57;
        }
    }
    .timeline__step {
        font-weight: 500;
        color: #d6dce0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .timeline__li--complete {
        @include notify-color($success, solid, '✓');
    }
    .timeline__li--cancel {
        @include notify-color($danger, dotted, 'x');
    }
    .timeline__li--waiting {
        @include notify-color($warning, solid, '!');
    }

    .timeline__tag--secondary {
        background-color: $secondary !important;
    }
    .timeline__tag--success {
        background-color: $success !important;
        color: #ffffff;
    }
    .timeline__tag--warning {
        background-color: $warning !important;
        color: $dark;
    }
    .timeline__tag--danger {
        background-color: $danger !important;
        color: $white;
    }
    .timeline__tag--info {
        background-color: $info !important;
        color: $white;
    }

    .timeline__tag--none {
        background: none !important;
        color: $black;
    }
}
